services:
  # Discord Bot Application
  discord-bot:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: aimolt-discord-bot
    restart: always
    environment:
      - NODE_ENV=production
    env_file:
      - ./app/.env
    volumes:
      - ./app:/app
      - ./app/node_modules:/app/node_modules
    networks:
      - discord-network

networks:
  discord-network:
    driver: bridge